# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db


# PyInstaller
build/
dist/

# Jarvis runtime
~/.jarvis/
*.sock
jarvis.pid
jarvis.port
temp_speech.mp3

# Eggs
*.egg-info/
*.egg
